{% extends 'sub_base.html' %}
{% load static %}

{% block title %}
Register a Account
{% endblock title %}

{% block stylesheet1 %}
{% static 'account/css/account.css' %}
{% endblock %}


{% block sub_base_title %}

<div class="resetPassword__title">Register a Account</div>

{% endblock %}

{% block sub_base_content %}

<form class="Register__form" action="." method="post">
    {% csrf_token %}
    {% if form.errors %}
    {% for field in form %}
    {% if field.errors %}
    <div class="warning" role="alert">
        {{ field.errors }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <div class="simpleInput">
        <div class="simpleInput__label">
            {{ form.user_name.label }} <small>(Required)</small>
        </div>
        <div class="simpleInput__content">
            {{ form.user_name }}
        </div>
    </div>
    <div class="simpleInput">
        <div class="simpleInput__label">
            {{ form.email.label}} <small>(Required)</small>
        </div>
        <div class="simpleInput__content">
            {{ form.email }}
        </div>
    </div>
    <div class="simpleInput">
        <div class="simpleInput__label">
            {{ form.password.label}} <small>(At least 8 characters and 1 digit)</small>
        </div>
        <div class="simpleInput__content">
            {{ form.password }}
        </div>
    </div>
    <div class="simpleInput">
        <div class="simpleInput__label">
            {{ form.password2.label}} <small>(Required)</small>
        </div>
        <div class="simpleInput__content">
            {{ form.password2 }}
        </div>
    </div>
    <div class="register__button">
        <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Register</button>
    </div>
    <div class="register__haveAccount">
        <a href="{% url 'account:login' %}">Already have an account?</a>
    </div>
</form>

{% endblock %}
