{% extends 'sub_base.html' %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block stylesheet1 %}
{% static 'account/css/account.css' %}
{% endblock %}


{% block sub_base_content %}
{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:profile" %}';
</script>
{% endif %}
<form class="login__form" action="{% url 'account:login' %}" method="post">

    {% csrf_token %}
    <div id="signin">Sign In</div>

    {% if form.errors %}
    <div class="warning" role="alert">
        Error: Username or Password not correct!
    </div>
    {% endif %}
    <div class="simpleInput" id="username">
        <div class="simpleInput__label">
            {{ form.username.label }}
        </div>
        <div class="simpleInput__content">
            {{ form.username }}
        </div>
    </div>
    <div class="simpleInput" id="password">
        <div class="simpleInput__label">
            {{ form.password.label}}
        </div>
        <div class="simpleInput__content">
            {{ form.password}}
        </div>
    </div>
    <div>
        <input type="hidden" name="next" value="{{ next }}">
        <div class="login_button">
            <button type="submit" value="Log-in">Sign in</button>
        </div>
    </div>
    <div class="login__otherlink">
        <div>
            <a href="{% url 'account:register' %}">Create an account</a>
        </div>
        <div>
            <a href="{% url 'account:pwdreset' %}">Forgotten Password?</a>
        </div>
    </div>
</form>
{% endblock %}