{% extends 'account/sub_base.html' %}
{% load static %}
{% block stylesheet1 %}
{% static 'store/css/store.css' %}
{% endblock stylesheet1 %}

{% block stylesheet2 %}
{% static 'review/css/review.css' %}
{% endblock stylesheet2 %}

{% block sub_content %}
<div class="col-12">
    <h1 class="h2">Order Issue</h1>
</div>
<hr />
<div class="container-fluid bg-light">
    <div class="row g-3">
        <div class="col-12 bg-light p-3">
            <h4>Order Information</h4>
            <hr>
            <div class="pe-3" style="display:flex; flex-direction:row;">
                <div style="flex-basis:33.33%">
                    <span><b>Checkout Time: </b></span>
                    <span>{{ order.created }}</span>
                </div>
                <div style="flex-basis:33.33%">
                    <span><b>Total Paid: </b></span>
                    <span> £ {{ order.total_paid }} </span>
                </div>
                <div style="flex-basis:33.33%">
                    <span> <b>Name: </b> </span>
                    <span> {{order.full_name}} </span>
                </div>
            </div>
            <div>
                <b>Dispatch to: </b>
                <span>{{order.address1}} {{order.address2}},</span>
                <span>{{order.city}}, {{order.postcode}}</span>
                <span>{{order.country_code}}</span>
            </div>
        </div>
    </div>
    <br>
    <h4>Products </h4>
    <hr>
    <div class="row g-3">
        {% for item in order.items.all %}
        <div class="card mb-3 border-0 bg-light">
            <div class="" style="display:flex; align-items: center;">
                <div class="col-md-2 d-none d-md-block">
                    <img class="img-fluid" style="width:90px" src="{{item.product.image.image.url}}" />
                </div>
                <div class="">
                    {{item.product|title}}
                </div>
            </div>
        </div>
        {% endfor %}
        <div>
            <form id="review-form" action="#" method="POST">
                {% csrf_token %}
                {{ order_issue_form.orderid.label}}
                {{ order_issue_form.orderid}}

                {{ order_issue_form.email.label}}
                {{ order_issue_form.email}}
                {{ order_issue_form.content.label}}
                {{ order_issue_form.content}}
                <button type="submit" formaction="{% url 'orders:order_issue' order_key=order.order_key %}"
                    role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">
                    Submit
                </button>
            </form>

        </div>


        {% comment %} <div class="col-12 bg-light p-3 d-flex justify-content-between">
            <div class="d-flex d-flex-inline">
                <div class="pe-3">{{ order.created }}</div>
                <div class="dropdown">
                    <a class="text-reset text-decoration-none dropdown-toggle" href="#" role="link" id="dropdownLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dispacted to
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownLink">
                        <li class="item small">{{order.full_name}}</li>
                        <li class="item small">{{order.address1}}</li>
                        <li class="item small">{{order.address2}}</li>
                        <li class="item small">{{order.post_code}}</li>
                    </ul>
                </div>
            </div>
            <div class="text-end">
                Total paid: <span class="fw-bold">£{{ order.total_paid }}</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-7 col-lg-8 p-0">
            {% for item in order.items.all %}
            <div class="card mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-2 d-none d-md-block">
                        <img class="img-fluid" style="width:90px" src="{{item.product.image.image.url}}" />
                    </div>
                    <div class="col-md-10">
                        <div class="card-body p-1">
                            <p class="card-text small">{{item.product|title}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div>

                <form id="review-form" action="#" method="POST">
                    {% csrf_token %}
                    {{ order_issue_form.orderid.label}}
                    {{ order_issue_form.orderid}}

                    {{ order_issue_form.email.label}}
                    {{ order_issue_form.email}}
                    {{ order_issue_form.content.label}}
                    {{ order_issue_form.content}}
                    <button type="submit" formaction="{% url 'orders:order_issue' order_key=order.order_key %}"
                        role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">
                        Submit
                    </button>
                </form>

            </div>
        </div> {% endcomment %}
        {% endblock sub_content %}