svg {
    width: 3rem;
    height: 3rem;
}

.subBaseContent--title {
    margin-bottom: 3rem;
}

.deliveryOption__title {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* bean */
.deliveryOption__bean__home a{
    color: var(--primary-color);
    padding: 0 2rem;
    border-right: thin solid var(--seconary-color);
}

.deliveryOption__bean__current {
    color: var(--primary-color);
    font-weight: 600;
    padding: 0 2rem;
}


.deliveryoptions {
    width: 90%;
    margin: 0 auto;
}

input[type=radio] {
    display: none;
}

label {
    cursor: pointer;
}

.deliveryoptions__content {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 5%;
    align-items: center;
}

.deliveryOption__option {
    border: thin solid black;
    border-radius: 10px;
    margin-top: 1rem;
    transition-property: background-color, box-shadow;
    transition-duration: 500ms, 100ms;
    padding: 1rem 0.5rem;
}

.deliveryOption__option:hover {
    background-color: var(--primary-color);
}

.deliveryOption__option:hover div{
    color: white;
}

.deliveryOption__option:hover svg{
    fill: white;
}

.deliveryOption__option__label {
    display: grid;
    grid-template-columns: 15% 65%;
    align-items: center;
}

.deliveryOption__name {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.checked--background {
    background-color: var(--primary-color);
    box-shadow:  -2px 5px 5px rgba(0, 0, 0, 60%);
    color: white;
}

.checked--background svg{
    fill: white;
}

.checked--background div {
    color: white;
}

.deliveryOption__total{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}
.deliveryOption__total span, .deliveryOption__total div{
    font-size: 1.5rem;
}

.deliveryOptionn__total__price span{
    font-weight: 600;
}

.deliveryOption__total__subtotal, .deliveryOption__total__deliverycost, .deliveryOption__total__total {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.deliveryOption__total__paybutton {
    height: 20%;
}

.deliveryOption__total__paybutton button {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    font-weight: 400;
    background-color: var(--alter-color);
    border-color: var(--alter-color);
}

@media screen and (max-width: 1440px) {
    .deliveryoptions {
        width: 100%;
    }
    .deliveryOption__total span, .deliveryOption__total div{
        font-size: 1rem;
    }

    .deliveryOption__total__paybutton button {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    .deliveryOption__option__label {
        display: grid;
        grid-template-columns: 15% 65%;
        column-gap: 5%;
        align-items: center;
    }


    .deliveryOption__total span, .deliveryOption__total div{
        font-size: 1.5rem;
    }

    .deliveryOption__total__paybutton button {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .subBaseContent--title{
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    .subBaseContent {
        margin-bottom: 0;
    }

    .deliveryOption__option__label {
        display: grid;
        grid-template-columns: 20% 75%;
    }
    .deliveryOption__name {
        font-size: 1.2rem;
    }

    .deliveryOption__option {
        margin-top: 0.5rem;
    }

    .deliveryoptions__title{
        padding-left: 0;
        margin: 0 auto;
        text-align: center;
    }
    .deliveryoptions__content {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 60% 30%;
        row-gap: 10%;
        column-gap: 0%;
    }

    .deliveryOption__total{
        height: auto;
        border-top: thin solid var(--primary-color);
        padding-top: 1rem;
    }

    .deliveryOption__total__paybutton button {
        font-size: 1.2rem;
    }
    .deliveryOption__total__paybutton{
        text-align: center;
        padding-top: 0.4rem;
    }
    .deliveryOption__total__paybutton button {
        width: 80%;
    }
}

@media screen and (max-width: 425px) {
    .subBaseContent {
        width: 90%;
        margin-bottom: 0;
    }
    .deliveryOption__total__paybutton button {
        width: 100%;
    }
}