div, p, b, span {
    font-family: 'Merriweather';
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.title {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}

.orders {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}

.orders-banner {
    display:grid;
    grid-template-columns: 30% 70%;
    padding: 5px 10px;
    border-top: thin solid black;
    border-bottom: thin solid #c2c2c2;
    margin-bottom: 1rem;
}

.order-items {
    margin-top: 1rem;
    margin: 0 auto;
}

.order-information {
    padding: 5px 10px;
    border-bottom: thin solid #c2c2c2;
}

.order-information-out {
    display:grid;
    grid-template-columns: 30% 70%;
}

.order-information-out-col-name {
    font-family: 'Merriweather';
    font-weight: 700;
}

.order-information-out-col-content {
    font-family: 'Merriweather';
    font-weight: 300;
}

.order-information-out-issue-report {
    display: block;
    margin-top: 10px;
}

.order-information-out-issue-report  button {
    border-radius: 10px;
    border-color: rgb(194, 194, 39);
    background-color: yellow;
    border-style:none;
}

.order-items-information {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    margin-top: 1rem;
    margin-left: 2rem;
    align-items: center;
}

.order-items-information > .image > img{
    width: 100px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.7);
}

.order-items-information .order-item-title span {
    color: black;
}

.title-quantity-subtotal {
    height: 100%;
    display: grid;
    grid-template-rows: 40% 20% 20% ;
}

.title-quantity-subtotal span{
    font-weight: 700;
}

#order-issue-report {
    color: black;
}
