div, p, b{
    font-family: 'Merriweather';
}

.basket-title {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.basket {
    display: flex;
    flex-direction: column;
    width: 68%;
    margin: 0 auto;
}

.basket-item-inf {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.basket-item {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    position: relative;
    width: 100%;
    margin-top: 2%;
}

.basket-item-img { 
    margin: 0 auto;
}

.basket-item-img > img {
    display: block;
    width: 150px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.7);
}

.basket-item-title-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

#update-button  button {
    color: white;
    background-color: #198754;
    border-color: #198754;
    border-radius: 3px;
}

#delete-button  button {
    color: white;
    background-color: red;
    border-color: red;
    border-radius: 3px;
}

.basket-item-title {
    height: 20%;
    font-size: 18px;
}

.basket-item-title > a {
    color: black;
}

.basket-item-button {
    height: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    justify-content: space-between;
}

.basket-item-subtotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-size-adjust: 18px;
}

.basket-item-subtotal div {
    height: 20%;
}

.basket-item-subtotal-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: red;
}

.checkout {
    height: 80px;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    background-color: #a5b8af;
    border-radius: 5px;
}

.checkout-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkout-tax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-button {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 30% 50% 20%;
}

.checkout-button-button {
    text-align: end;
}