.profile__bean {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.profile__bean div{
    color: var(--primary-color);
    font-weight: 600;
    padding: 0 1rem;
}

.profile__bean__home a{
    color: var(--primary-color);
    padding: 0 2rem;
    border-right: thin solid var(--seconary-color);
}

.profile {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    border: thick solid var(--primary-color);
    margin-bottom: 2rem;
}

.profile button {
    width: 100%;
    color: white;
    font-weight: 500;
    background-color: var(--seconary-color);
    border-color: var(--seconary-color);
    font-size: larger;
    cursor: pointer;
}

.profile__img {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1rem 1rem;
    border-right: thick solid var(--seconary-color);
}

.profile__img img {
    max-width: 70%;
    object-fit: contain;
}

.profile__profile{
    width: auto;
    padding: 1rem 1rem;
    background-color: #eef3f8;
}

.profile__profile__content {
    display: grid;
    grid-template-columns: 50% 40%;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0;
}

.profile__profile__content__title, .profile__profile__about--title{
    font-size: 1.2rem;
}

.profile__profile__content__content, .profile__profile__about--content{
    font-size: 1.2rem;
    font-weight: 600;
}

.profile__profile__about {
    display: flex;
    flex-direction: column;
}

.profile__profile__about--content{
    word-break: break-all;
}

.editButton {
    text-align: center;
}

.editButton button{
    width: 15rem;
    color: white;
    font-weight: 500;
    background-color: var(--seconary-color);
    border-color: var(--seconary-color);
    font-size: larger;
    cursor: pointer;
}

/* edit profile form */
.editProfile{
    width: 100%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.input--grayout input{
    background-color: rgb(211, 211, 211);
}

.editProfile input, 
.editProfile select {
    font-size: 1.2rem;
}

.editProfile textarea {
    font-size: 1.2rem;
}

#editProfile__form {
    display: flex;
    flex-direction: column;
    border: thick solid var(--primary-color);
    padding: 1rem 0;
}

#editProfile__form div{
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.editProfile__form__button {
    align-self: center;
}

.editProfile__form__button button {
    width: 15rem;
    color: white;
    font-weight: 500;
    background-color: var(--seconary-color);
    border-color: var(--seconary-color);
    font-size: larger;
    cursor: pointer;
}

.editProfile__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.editProfile__imgAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.editProfile__imgAbout div{ 
    text-align: center;
    margin: 0 auto;
}

.editProfile__img--image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editProfile__img--image img{
    width: 15rem;
}

.image__input {
    width: 70%;
}

.editProfile__label__country img{
    width: 8px;
    height: 8px;
}

.deleteAccount{
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
}
.deleteAccount div{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.deleteAccount button {
    width: 15rem;
    color: white;
    font-weight: 500;
    background-color: var(--alter-color);
    border-color: var(--alter-color);
    font-size: larger;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .profile__profile__content__title, .profile__profile__about--title{
        font-size: 1rem;
    }
    
    .profile__profile__content__content, .profile__profile__about--content{
        font-size: 1rem;
    }

}

@media screen and (max-width: 768px) {
    .profile {
        display: grid;
        grid-template-rows: 40% 60%;
        grid-template-columns: none;
        align-items: stretch;
        justify-content: center;
    }

    .profile__img {
        border-right: none;
        border-bottom: thick solid var(--seconary-color);
    }

    .subBaseContent {
        width: 90%;
    }
}

@media screen and (max-width: 425px) {
    .profile {
        display: flex;
        flex-direction: column;
    }
}