{% extends "account/sub_base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block sub_content %}


<form class="account-form" method="post" enctype="multipart/form-data">

    {% if user_form.is_valid and address_form.is_valid %}
    <div class="alert alert-primary" role="alert">
        Details successfully updated!
    </div>
    <p class="small text-center pt-0">
        <a href="{% url "account:dashboard" %}">Back to Dashboard</a>
    </p>
    {%else%}
    <h3>Change your details</h3>
    <p>You can edit your information using the following form:</p>
    {% endif %}

    {% if user_form.errors %}
    <p>Please correct the following errors:</p>
        {% for user_field in  user_form %}
            {% if user_field.errors %}
            <div class="alert alert-primary" role="alert">
                {{ user_field.label }}: {{ user_field.errors|striptags }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if address_form.errors %}
            {% for address_field in  address_form %}
                {% if address_field.errors %}
                    <div class="alert alert-primary" role="alert">
                        {{ address_field.label }}: {{ address_field.errors|striptags }}
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %}

    {% csrf_token %}
    <label class="small font-weight-bold">{{ user_form.profile_img.label}}</label>
    {{ user_form.profile_img }}
    <label class="small font-weight-bold">{{ user_form.email.label}}</label>
    {{ user_form.email }}
    <label class="small font-weight-bold">{{ user_form.user_name.label}}</label>
    {{ user_form.user_name }}
    <label class="small font-weight-bold">{{ user_form.first_name.label}}</label>
    {{ user_form.first_name }}
    <label class="small font-weight-bold">{{ user_form.last_name.label}}</label>
    {{ user_form.last_name }}

    {% comment %} address {% endcomment %}
    <label class="small font-weight-bold">{{ address_form.phone.label}}</label>
    {{ address_form.phone }}
    <label class="small font-weight-bold">{{ address_form.country.label}}</label>
    {{ address_form.country }}
    <label class="small font-weight-bold">{{ address_form.town_city.label}}</label>
    {{ address_form.town_city }}
    <label class="small font-weight-bold">{{ address_form.postcode.label}}</label>
    {{ address_form.postcode }}
    <label class="small font-weight-bold">{{ address_form.address_line.label}}</label>
    {{ address_form.address_line }}
    <label class="small font-weight-bold">{{ address_form.address_line2.label}}</label>
    {{ address_form.address_line2 }}

    {% comment %} about you {% endcomment %}
    <label class="small font-weight-bold">{{ user_form.about.label}}</label>
    {{ user_form.about }}
    

    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Save changes">Save
        Changes</button>
    <hr class="mb-3">
</form>
<form class="account-form" action="{% url "account:delete_user" %}" method="post">
    {% csrf_token %}
    <p class=" h3 pt-4 font-weight-bold">Delete Account</p>
    <p>Are you sure you want to delete your account?</p>
    <button type="submit" role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Delete</button>
</form>
{% endblock %}