{% extends 'account/sub_base.html' %}
{% load static %}
{% block stylesheet2 %}
{% static "account/css/profile.css" %}
{% endblock stylesheet2 %}


{% block sub_content %}
{% if user.is_authenticated %}
<div class="col-12 d-flex justify-content-between">
    <h1><b>Profile</b></h1>
</div>
<hr />
<div class="container-profile">
    <div class="level-one-pic" style="flex-basis:35%">
            <img class="rounded-circle" width="150px" src={{ profile.profile_img.url}}>
            <span class="font-weight-bold">{{profile.last_name}} {{ profile.first_name }}</span>
            <span class="text-black-50">{{profile.email}}</span>
    </div>
    <div class="level-one" style="flex-basis:65%">
        <div class="first-last-name-phone">
            <div class="row mt-2">
                <label class="labels"><b>First Name:</b></label>
                <span>{{profile.first_name}}</span>
            </div>

            <div class="row mt-2">
                <label class="labels"><b>Last Name:</b></label>
                <span>{{profile.last_name}}</span>
            </div>

            <div class="row mt-2">
                <label class="labels"><b>Phone:</b></label>
                <span>{{address.phone}}</span>
            </div>
        </div>

        <div class="conuntry-city-postcode">
            <div class="row mt-2">
                <label class="labels"><b>Country:</b></label>
                <span>{{address.country}}</span>
            </div>
            <div class="row mt-2">
                <label class="labels"><b>Town & City:</b></label>
                <span>{{address.town_city}}</span>
            </div>

            <div class="row mt-2">
                <label class="labels"><b>Post code:</b></label>
                <span>{{address.postcode}}</span>
            </div>
        </div>
        <div class="address-line-12">
            <div class="row mt-2">
                    <label class="labels"><b>Address Line 1:</b></label>
                <span>{{address.address_line}}</span>
            </div>
            <div class="row mt-2">
                    <label class="labels"><b>Address Line 2:</b></label>
                <span>{{address.address_line2}}</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="labels"><b>About:</b></label></div>
            <p style="word-break: break-all;">{{profile.about}}</p>
        </div>
    </div>
</div>

<div>
    <a href="{% url 'account:edit_details'%}" class="text-reset text-decoration-none" role="button"
        style="max-width: 540px;">
        <button type="submit" role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Edit
            profile</button>
    </a>
</div>
{% else %}
<script>
    window.location.href = '{% url "account:login" %}';
</script>
{% endif %}

{% endblock sub_content %}