{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Store - Low Prices in Books & more{% endblock %}</title>
    <link rel="icon" href="{% static 'core/images/books.png'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="{% block sub_base %}{% endblock %}">
    <link rel="stylesheet" href="{% block stylesheet1 %}{% endblock %}">
    <link rel="stylesheet" href="{% block stylesheet2 %}{% endblock %}">
    <link rel="stylesheet" href="{% block stylesheet3 %}{% endblock %}">
</head>

<body>
    <header>
        <nav>
            <div class="nav__content">
                <div>
                    <a href="{% url 'store:store_home' %}">
                        <img class="nav__img--logo" src="{% static 'core/images/sign.png'%}" alt="">
                    </a>
                </div>
                <div class="nav__empty">
                </div>
                <div class="nav__user__bag">
                    {% if user.is_authenticated %}
                    <div class="nav__user">
                        <div class="nav__user__dropdown">
                            <div class="nav__user__dropdown--img">
                                <a href="{% url "account:profile" %}">
                                    <img class="nav__img" src={{ user.profile_img.url }}>
                                </a>
                            </div>
                            <div class="nav__user__dropdown--content">
                                {% if user.is_authenticated %}
                                <div>
                                    <a href="{% url "account:profile" %}">Profile</a>
                                </div>
                                <div>
                                    <a href="{% url 'orders:user_orders' %}">Orders</a>
                                </div>
                                <div>
                                    <a href="{% url 'wishlist:user_wishlist' %}">Wish List</a>
                                </div>
                                <div>
                                    <a href="{% url "account:logout" %}">Logout</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="nav__user">
                        <a href="{% url "account:login" %}">
                            <img class="nav__img" src="{% static 'core/images/user.png' %}" alt="">
                        </a>
                    </div>
                    {% endif %}
                    <div class="nav__bag">
                        <div class="nav__bag--img">
                            <a type="button" role="button" href="{% url "basket:basket" %}">
                                <img class="nav__img" src="{% static 'core/images/bag.png'%}" alt="">
                            </a>
                        </div>
                        {% with total_qty=basket|length %}
                        <div class="nav__bag--number" id="basket-qty">
                            {% if total_qty > 0 %}
                            {{ total_qty }}
                            {% else %}
                            0
                            {% endif %}
                        </div>
                        {% endwith %}

                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="warning__block">{% block warning %} {% endblock %}</div>
        <div class="promotion">{% block promotion %} {% endblock %}</div>
        <div class="content"> {% block content %} {% endblock %}</div>
    </main>

    <footer>
        <div class="footer">
            <div class="footer__content">
                <div>
                    <h2>Learn About Us</h2>
                    <ul>
                        <li><a href="#">About Tsao Books</a></li>
                        <li><a href="#">About Our Group</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div>
                    <h2>Member Service</h2>
                    <ul>
                        <li><a href="#">Become Our Members</a></li>
                        <li><a href="#">For New Members</a></li>
                        <li><a href="#">Member Categories</a></li>
                        <li><a href="#">Subscribe to E-Newsletter</a></li>
                        <li><a href="#">Delivery Options</a></li>
                    </ul>
                </div>
                <div>
                    <h2>Collaboration</h2>
                    <ul>
                        <li><a href="#">Corporate Buying</a></li>
                        <li><a href="#">Buy Our Gift Card</a></li>
                        <li><a href="#">Become Our Supplier</a></li>
                        <li><a href="#">Cross Industry Alliance</a></li>
                    </ul>
                </div>
                <div class="">
                    <h2>Customer Service</h2>
                    <ul>
                        <li><a href="#">Forgot ID/Password ?</a></li>
                        <li><a href="#">Connect Us</a></li>
                        <li><a href="#">Help - Q&A List</a></li>
                        <li><a href="#">Live Chat</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div>
                <img src="{% static 'core/images/books.png'%}" alt="">
            </div>
            <div>
                <span>Copyright © 2022 by Tsao Books</span>
            </div>
        </div>
    </footer>
</body>

</html>