{% extends 'sub_base.html' %}
{% load static %}

{% block title %}
Delivery Options
{% endblock title %}

{% block stylesheet1 %}
{% static 'checkout/css/checkout.css' %}
{% endblock stylesheet1 %}

{% block sub_base_title %}
<div class="deliveryOption__title">
    <div class="deliveryOption__bean__home">
        <a href="{% url 'store:store_home' %}"> Home </a>
    </div>
    <div class="deliveryOption__bean__current">
        Delivery Options
    </div>
</div>
{% endblock %}
{% block sub_base_content %}
<div class="deliveryoptions">
    {% if messages %}
    <div class="warning" alert-"{{ message.tags }}" role="alert">
        {% for message in messages  %}
        {{message|safe}}
        {% endfor %}
    </div>
    {% endif %}
    <div class="deliveryoptions__content">
        {% if delivery_options|length  == 0 %}
        <div>There are no delivery options avaliable <a href="{% url 'store:store_home' %}">Shop</a></div>
        {% else %}
        <div>
            {% for option in delivery_options %}
            {% if option.id == request.session.purchase.delivery_id %}
            <div class="deliveryOption__option checked--background" data-index="{{option.id}}">
                <label class="deliveryOption__option__label" for="{{option.id}}">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg>
                    </div>
                    <div class="deliveryOption__nameDescription">
                        <div class="deliveryOption__name">{{option.delivery_name}}</div>
                        <div class="deliveryOption__description">
                            Your order should be delivered within {{option.delivery_timeframe}}.
                        </div>
                    </div>
                </label>
                <input type="radio" name="deliveryOption" id="{{option.id}}" value="{{option.id}}" checked>
            </div>
            {% else %}
            <div class="deliveryOption__option" data-index="{{option.id}}">
                <label class="deliveryOption__option__label" for="{{option.id}}">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg>
                    </div>
                    <div class="deliveryOption__nameDescription">
                        <div class="deliveryOption__name">{{option.delivery_name}}</div>
                        <div class="deliveryOption__description">
                            Your order should be delivered within {{option.delivery_timeframe}}.
                        </div>
                    </div>
                </label>
                <input type="radio" name="deliveryOption" id="{{option.id}}" value="{{option.id}}">
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="deliveryOption__total">
            <div class="deliveryOption__total__subtotal">
                <div class="deliveryOptionn__total__title">Sub Total:</div>
                <div class="deliveryOptionn__total__price"><span>$ </span><span id="sub_total">{{basket.get_subtotal_price_after_tax}}</span></div>
            </div>
            <div class="deliveryOption__total__deliverycost">
                <div class="deliveryOptionn__total__title">Delivery Cost:</div>
                <div class="deliveryOptionn__total__price">
                    <span>$ </span=><span id="delivery_price">{{basket.get_delivery_price}}</span>
                </div>
            </div>
            <div class="deliveryOption__total__total">
                <div class="deliveryOptionn__total__title">Total:</div>
                <div class="deliveryOptionn__total__price"><span>$ </span=><span id="total">{{basket.get_total_price}}</span></div>
            </div>
            <div class="deliveryOption__total__paybutton">
                <a role="button" href=" {% url 'checkout:payment' %}">
                    <button>
                        Pay Securely
                    </button>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>

<script>
    $(document).ready(function () {
        var options = new Array();
        options[0] = "{{request.session.purchase.delivery_id}}"
        $('input[type=radio][name=deliveryOption]').on('change', function (e) {
            var deliveryoption = $(this).val()
            options.push(deliveryoption)

            // remove unused record
            if (options.length >= 3) {
                options.shift()
            }
            $('input[id="' + options[options.length - 2] + '"]').removeAttr('checked')
            $.ajax({
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}',
                },
                type: "PUT",
                url: '{% url "checkout:delivery_options" %}',
                data: {
                    deliveryoption: deliveryoption,
                    action: "create-update-delivery-option-in-session",
                },
                success: function (json) {
                    document.getElementById("total").innerHTML = json.total
                    document.getElementById("delivery_price").innerHTML = json
                        .delivery_price

                    // remove previous checked background and color new selected option
                    $('.deliveryOption__option[data-index="' + deliveryoption + '"]')
                        .addClass("checked--background")
                    $('input[id="' + deliveryoption + '"]').prop("checked")
                    $('.deliveryOption__option[data-index="' + options[(options.length -
                        2)] + '"]').removeClass("checked--background")
                },
                error: function (xhr, errmsg, err) {},
            })
        })
    })
</script>
{% endblock %}