{% extends 'sub_base.html' %}
{% load static %}

{% block title %}
Delivery Address
{% endblock title %}

{% block stylesheet1 %}
{% static 'checkout/css/checkout_address.css' %}
{% endblock stylesheet1 %}

{% block sub_base_title %}
<div class="deliveryAddress__title">
  Delivery Address
</div>
{% endblock %}
{% block sub_base_content %}

<div class="deliveryAddress">
    {% if not address %}
    <div class="col-12">There are no delivery addresses,
      <a href="{% url 'account:edit_details' %}">
        Edit your address in your profile
      </a>
    </div>
    {% else %}
    <div data-index="{{option.id}}">
      <div class="deliveryAddress__detail">
        <div class="deliveryAddress__detail__content">
          <div class="deliveryAddress__detail__content--title">
            Full name:
          </div>
          <div class="deliveryAddress__detail__content--content">
            {{address.full_name}}
          </div>
        </div>
        <div class="deliveryAddress__detail__content">
          <div class="deliveryAddress__detail__content--title">
            Address Line 1:
          </div>
          <div class="deliveryAddress__detail__content--content">
            {{address.address_line}}
          </div>
        </div>
        <div class="deliveryAddress__detail__content">
          <div class="deliveryAddress__detail__content--title">
            Address Line 2:
          </div>
          <div class="deliveryAddress__detail__content--content">
            {{address.address_line2}}
          </div>
        </div>
        <div class="deliveryAddress__detail__content">
          <div class="deliveryAddress__detail__content--title">
            Town & City:
          </div>
          <div class="deliveryAddress__detail__content--content">
            {{address.town_city}}
          </div>
        </div>
        <div class="deliveryAddress__detail__content">
          <div class="deliveryAddress__detail__content--title">
            Postcode:
          </div>
          <div class="deliveryAddress__detail__content--content">
            {{address.postcode}}
          </div>
        </div>
        <div class="deliveryAddress__detail__content">
          <div class="deliveryAddress__detail__content--title">
            Country:
          </div>
          <div class="deliveryAddress__detail__content--content">
            {{address.country.name}}
          </div>
        </div>
        <div class="deliveryAddress__detail__content">
          <div class="deliveryAddress__detail__content--title">
            Phone number:
          </div>
          <div class="deliveryAddress__detail__content--content">
            {{address.phone}}
          </div>
        </div>
        <div class="deliveryAddress__detail__content--edit">
          <a href="{% url 'account:edit_details'%}" class="text-decoration-none">
            <button>
              Edit    
            </button>
          </a>
          </div>
      </div>
    </div>
  <div>
    <div>
      <div>Sub Total:</div>
      <div>
        <span>$ </span>
        <span id="sub_total">
          {{basket.get_subtotal_price_after_tax}}
        </span>
      </div>
      <div>
        <div>Delivery Cost:</div>
        <div>
          <span>$ </span>
          <span id="delivery_price">
            {{basket.get_delivery_price}}
          </span>
        </div>
      </div>
      <div>
        <div>Total:</div>
        <div>
          <span>$ </span>
          <span id="total">
            {{basket.get_total_price}}
          </span>
        </div>
      </div>
      <a role="button" href="{% url 'checkout:payment' %}">
        <button>
          Pay Securely
        </button>
      </a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}