{% extends 'sub_base.html' %}
{% load static %}
{% load product_filter %}

{% block title %}
Payment Selection
{% endblock title %}

{% block stylesheet1 %}
{% static 'checkout/css/payment.css' %}
{% endblock stylesheet1 %}

{% block sub_base_title %}
<div class="basket__title">
    <div class="basket__bean__home">
        <a href="{% url 'store:store_home' %}"> Home </a>
    </div>
    <div class="basket__bean__bag">
        Payment Selection
    </div>
</div>
{% endblock %}

{% block sub_base_content %}
<div class="addressPayment">
    <div class="deliveryAddress">
        <div class="deliveryAddress_title">Shipping info.</div>
        <div class="deliveryAddress__detail">
            <div class="deliveryAddress__detail__content">
                <div class="deliveryAddress__detail__content--title">
                    Full name:
                </div>
                <div class="deliveryAddress__detail__content--content">
                    {{address.full_name}}
                </div>
            </div>
            <div class="deliveryAddress__detail__content">
                <div class="deliveryAddress__detail__content--title">
                    Address Line 1:
                </div>
                <div class="deliveryAddress__detail__content--content">
                    {{address.address_line}}
                </div>
            </div>
            <div class="deliveryAddress__detail__content">
                <div class="deliveryAddress__detail__content--title">
                    Address Line 2:
                </div>
                <div class="deliveryAddress__detail__content--content">
                    {{address.address_line2}}
                </div>
            </div>
            <div class="deliveryAddress__detail__content">
                <div class="deliveryAddress__detail__content--title">
                    Town & City:
                </div>
                <div class="deliveryAddress__detail__content--content">
                    {{address.town_city}}
                </div>
            </div>
            <div class="deliveryAddress__detail__content">
                <div class="deliveryAddress__detail__content--title">
                    Postcode:
                </div>
                <div class="deliveryAddress__detail__content--content">
                    {{address.postcode}}
                </div>
            </div>
            <div class="deliveryAddress__detail__content">
                <div class="deliveryAddress__detail__content--title">
                    Country:
                </div>
                <div class="deliveryAddress__detail__content--content">
                    {{address.country.name}}
                </div>
            </div>
            <div class="deliveryAddress__detail__content">
                <div class="deliveryAddress__detail__content--title">
                    Phone number:
                </div>
                <div class="deliveryAddress__detail__content--content">
                    {{address.phone}}
                </div>
            </div>
            <div class="deliveryAddress__detail__content--edit">
                <a href="{% url 'account:edit_details'%}">
                    <button>
                        Edit
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="payment__summaryPaypal">
        <div class="payment__summary">
            <div class="payment__summary__subsection">
                <div class="payment__title">Sub Total:</div>
                <div class="payment__price">
                    $ {{basket.get_subtotal_price_before_tax}}
                </div>
            </div>
            <div class="payment__summary__subsection" >
                <div class="payment__title">Delivery Cost:</div>
                <div class="payment__price">
                    $ {{basket.get_delivery_price}}
                </div>
            </div>

            <div class="payment__summary__subsection" id="totalCost">
                <div class="payment__title">Total:</div>
                <div class="payment__price">
                    $ {{basket.get_total_price}}
                </div>
            </div>
        </div>
        <div class="paypal__button">
            <div id="paypal-button-container"></div>
        </div>
    </div>
</div>




<script
    src="https://www.paypal.com/sdk/js?client-id=AWrNAL-sz_i_Ntao5-i9aJ_93mvrPbkJsbyGq8OvKHQPpXsbGfLNlwm8yZM8huA1GYouhZIkPEBuxYdy&currency=USD&disable-funding=credit,card"
    data-sdk-integration-source="button-factory">
</script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function initPayPalButton() {
        paypal.Buttons({
            style: {
                shape: 'rect',
                color: 'gold',
                layout: 'vertical',
                label: 'paypal',
            },
            onClick: (data) => {
                var fundingSource = data.fundingSource;
            },
            createOrder: function (data, actions) {
                return actions.order.create({
                    application_context: {
                        brand_name: 'Bookstore',
                        locale: 'us-US',
                        shipping_preference: 'SET_PROVIDED_ADDRESS',
                    },
                    purchase_units: [{
                        amount: {
                            "currency_code": "USD",
                            "value": '{{basket.get_total_price}}'
                        },
                        shipping: {
                            name: {
                                full_name: '{{ address.full_name }}'
                            },
                            address: {
                                address_line_1: '{{ address.address_line }}',
                                address_line_2: '{{ address.address_line2 }}',
                                admin_area_2: '{{ address.town_city }}',
                                postal_code: '{{ address.postcode }}',
                                country_code: '{{ address.country }}',
                            }
                        }
                    }]
                });
            },
            onApprove: function (data) {
                var url = "{% url 'checkout:payment' %}";
                return fetch(url, {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        orderID: data.orderID,
                        paymentSource: data.paymentSource,
                    })
                }).then(function () {
                    location.href = "{% url 'checkout:payment_successful' %}";
                })
            },
        }).render('#paypal-button-container');
    }
    initPayPalButton();
</script>
{% endblock %}