{% extends 'base.html' %}
{% load author_filter %}
{% load static%}
{% block stylesheet1 %}
{% static 'store/css/store.css' %}
{% endblock stylesheet1 %}

{% block title %}Store - Low Prices in Books & more{% endblock title %}
{% block content %}
<main>
    <div class="alert alert-primary fw600 rounded-0 border-0 py-3" id="alert-banner" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
            class="bi bi-info-circle me-2" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
        </svg>
        Warning - This site is a personal project and still under testing, please don't checkout any order. Thank
        you.
    </div>
    <div class="container">

        <div class="album py-5 bg-light" id="promotion">
            <div class="container" id="promotion">
                <img src="{% static 'core/images/promotion.png' %}" alt="">
            </div>
        </div>
        <div id="promotion-hr">
            <br>
        </div>

        <div class="album">
            <div class="container" id="books">
                <div class="banner">
                    <div class="category-list-title">
                        Categories
                    </div>
                    <div class="current-category" style="text-align:center">
                        All
                    </div>
                    <div class="book-popular-title">
                        Bestsellers
                    </div>
                </div>
                <div class="books">
                    <div class="category-list">
                        <div class="category">
                            <a href="{% url 'store:store_home' %}">
                                <button class="btn btn-success">
                                    All
                                </button>
                            </a>
                        </div>
                        <br>
                        <hr>
                        {% for category in categories %}
                        <div class="category">
                            <a href="{% url 'store:category_list' category_slug=category.slug %}">
                                <button class="btn btn-success">
                                    {{category.name}}
                                </button>
                            </a>
                        </div>
                        <br>
                        <hr>
                        {% endfor %}
                    </div>
                    <div class="" id="book-all-category">
                        {% if not all_product_paginated %}
                        <div class="col-12"> There are current not product available.</div>
                        {% else %}
                        {% for product in all_product_paginated %}
                        <div class="book-cover" id="click-count" data-index="{{product.slug}}">
                            <div class="book-cover-img">
                                <a href="{{product.get_absolute_url}}">
                                    <img class="img-fluid" id="book-img" alt="Responsive image"
                                        src="{{ product.image.image.url }}">
                                </a>
                            </div>
                            <div class="book-cover-middle" style="flex-basis:2.5%">
                            </div>
                            <div class="book-cover-inf">
                                <div class="book-category-name">
                                    <span>
                                        {{ product.category.name }}
                                    </span>
                                </div>
                                <div class="book-title-price">
                                    <div class="book-title">
                                        <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                                            <span>{{ product.title }}</span>
                                        </a>
                                    </div>
                                    <div class="book-price">
                                        <span class="" style="color:red; font-weight:bold;">$ {{ product.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <br>
                    <div class="" id="book-popular">
                        {% for product in popular_product %}
                        <div class="card shadow-sm book-cover" id="click-count" data-index="{{product.slug}}">
                            <div class="book-cover-img">
                                <a href="{{product.get_absolute_url}}">
                                    <img class="img-fluid" id="book-img" alt="Responsive image"
                                        src="{{ product.image.image.url }}">
                                </a>
                            </div>
                            <div class="book-cover-middle" style="flex-basis:2.5%">

                            </div>
                            <div class="book-cover-inf">
                                <div class="book-popular-category">
                                    <span>
                                        {{ product.category.name }}
                                    </span>
                                </div>
                                <div class="book-title-price">
                                    <div class="book-title">
                                        <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                                            <span>{{ product.title }}</span>
                                        </a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center book-price">
                                        <span class="" style="color:red; font-weight:bold;">$ {{ product.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="paginator">
                    {% include "store/pagination/index_all_product_pagination.html" %}
                </div>
            </div>
        </div>
</main>

<script>
    $(document).on('click', '#click-count', function () {
        var slug = $(this).data('index');
        console.log(slug)
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            type: 'PATCH',
            url: '{% url "store:store_home" %}',
            data: {
                slug: slug,
                action: 'update_product_counter'
            },
            success: function () {},
            error: function (xhr, errmsg, err) {

            }
        });
    })
</script>
{% endblock content %}