<div>
    <span>
        {% if popular_product_page.has_previous %}
            <a href="?page={{ popular_product_page.previous_page_number }}">Previous</a>
        {% endif %}
        
        {% for i in popular_product_page.paginator.page_range  %}
        {% if popular_prodcut_page.number == i %}
            <a href="#">{{ i }}</a>
        {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}
        {% if popular_product_page.has_next %}
           <a href="?page={{ popular_product_page.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>