{% extends "base.html" %}
{% load static %}
{% load product_filter %}
{% load author_filter %}
{% block stylesheet1 %}
{% static 'store/css/store.css' %}
{% endblock stylesheet1 %}

{% block stylesheet2 %}
{% static 'review/css/review.css' %}
{% endblock stylesheet2 %}


{% block title %}
{% if product %}{{ product.title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div class="single-container">

    <div class="product-detail">
        <div class="single-book-cover-img">
            <img alt="Responsive image" src="{{ product.image.image.url }}">
        </div>
        <div class="title-description">
            <div>
                <h2 class="mb-0 h2">{{ product.title }}</h1>
                    <div>
                        {% for author in product.author.all|authorsin3 %}
                        <div class="d-flex justify-content-between">
                            <small class="text-muted">{{ author }}</small>
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <br>
            <div>
                <h6><b>Description</b></h6>
            </div>
            <div>
                <p>
                    <small class="text-muted">{{ product.description }}</small>
                </p>
            </div>
        </div>
        <div class="price-add-button">
            <div class="price-quantity">
                <div><span class="h3">$ {{ product.price }}</span>
                    <p class="text-muted">before tax</p>
                </div>
                <div class="">
                    {% with qty=product.inventory %}
                    {% if qty == 0 %}
                    <span>Out of stock!</span>
                    {% else %}
                    <label for="select">Qty</label>
                    <select id="select" class="h6 store-select-dropdown">
                        {% if qty > 5 %}
                        {% for value in range %}
                        <option value="{{value}}">{{value}}</option>
                        {% endfor %}
                        {% else %}
                        {% for value in range %}
                        <option value="{{value}}">{{value}}</option>
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                        {% endwith %}
                    </select>
                </div>
            </div>
            <div class="add-button">
                {% if product.inventory == 0 %}
                <div class="add-button">
                    <button type="button" id="add-button" value="{{product.id}}" class=""
                        disabled>Add to basket
                    </button>
                </div>
                {% else %}
                <div class="add-button">
                    <button type="button" id="add-button" value="{{product.id}}" class="btn btn-success">
                        Add to basket
                    </button>
                </div>
                {% endif %}
                <br>
                <div class="add-button-wishlist">
                    <button type="button" id="add-button-wishlist" value="{{product.id}}" class="btn btn-light fw500">
                        Add to Wish List
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="review">
    {% if review_form %}
    <hr>
    <h4>Hi <b>{{user.get_username}}</b>, please rate the product and leave a review:</h4>
    <form id="review-form" action="#" method="POST">
        <div class="rating">
            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
        </div>
        <div class="form-outline">
            {{ review_form.review_text }}
        </div>
        <div class="d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-success" id="review-submit">
                Submit
            </button>
        </div>
    </form>
    {% endif %}
    <div>
        <hr>
        <h3>Reviews</h3>
    </div>
    {% if not review %}
    <div class="review-empty">
        There is no review for this product.
    </div>
    {% endif %}
    {% for review in review_all %}
    <div class="card p-3 mt-2">
        <div id="user-profile-img">
            <img src="{{review.reviewer.profile_img.url}}" width="30" class="user-img rounded-circle mr-2">
            <span>{{review.reviewer.user_name}}</span>
        </div>
        <div class="small-ratings">
            {% for i in review.rating|times  %}
            <p class="fa fa-star rating-color">&#11088</p>
            {% endfor %}
        </div>
        <div class="user d-flex flex-row">
            <span>
                <small class="text-primary">{{review.review_text}}</small>
            </span>
        </div>
        <div class="post-date">
            <small class="post-date-text">{{review.post_time}}</small>
        </div>
    </div>
</div>
{% endfor %}

</div>


<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        console.log($('#select option:selected').text())
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select').val(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'add-product-to-basket'
            },
            success: function (json) {
                document.getElementById('basket-qty').innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {

            }
        });

    })

    $(document).on('click', '#add-button-wishlist', function (e) {
        e.preventDefault();
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            type: 'PUT',
            url: '{% url "wishlist:user_wishlist" %}',
            data: {
                productid: $('#add-button-wishlist').val(),
                action: 'add-to-user-wishlist'
            },
            success: function (json) {

            },
            error: function (xhr, errmsg, err) {

            }
        });

    })
    $(".rating input").on('click', function (e) {
        window.value = $(this).val();
        window.productid = "{{product.id}}"
        window.isClicked = true;
    });

    $("#review-submit").on('click', function (e) {
        let value = window.value
        let productid = window.productid
        if (isClicked) {
            $.ajax({
                type: 'POST',
                url: '{% url "review:review"%}',
                data: {
                    productid: productid,
                    rating: value,
                    review_text: $('#review-text').val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },
                success: function (json) {
                    console.log($('#review-text').val(), )
                    location.reload()
                },
                error: function (xhr, errmsg, err) {

                }

            });
        }
    });
</script>
{% endblock content %}