{% extends "base.html" %}
{% load static %}
{% load product_filter %}
{% load author_filter %}

{% block stylesheet1 %}
{% static 'store/css/store.css' %}
{% endblock stylesheet1 %}

{% block stylesheet2 %}
{% static 'store/css/single.css' %}
{% endblock stylesheet2 %}

{% block stylesheet3 %}
{% static 'review/css/review.css' %}
{% endblock stylesheet3 %}


{% block title %}
{% if product %}{{ product.title }}{% else %}Products{% endif %}
{% endblock %}


{% block content %}
<div class="single">
    <div class="indexTitle__bean">
        <div class="indexTitle__bean__home">
            <a href="{% url 'store:store_home' %}"> Home </a>
        </div>
        <div class="indexTitle__bean__category">
            <a href="{% url 'store:category_list' category_slug=product.category.slug %}"> {{ product.category.name }}
            </a>
        </div>
        <div class="indexTitle__bean__product">
            {{ product.title }}
        </div>
    </div>
    <div class="productSingle">
        <div class="productSingle__info">
            <div class="productSingle__img">
                <div class="productSingle__img--image">
                    <a href="{{product.get_absolute_url}}">
                        <img alt="Responsive image" src="{{ product.image.image.url }}">
                    </a>
                </div>
                <div class="productSingle__img--background">
                </div>
            </div>
            <div class="productSingle__content">
                <div class="productSingle__Title">
                    {{ product.title }}
                </div>
                <div class="productSingle__Author">
                    By
                    {% for author in product.author.all|authorsin3 %}
                    {{ author }}
                    {% endfor %}
                </div>
                <div class="productSingle__Description">
                    Description
                </div>
                <div class="productSingle__Description__content">
                    {{ product.description }}
                </div>
            </div>
            <div class="productSingle__addItem">
                <div class="addItem__priceQuantity">
                    <div class="addItem__price">
                        <div class="addItem__price--price">
                            $ {{ product.price }}
                        </div>
                        <div class="beforeTax">
                            (before tax)
                        </div>
                    </div class="addItem__Quantity--select">
                    <div class="quantity">
                        {% with qty=product.inventory %}
                        {% if qty == 0 %}
                        <div>Out of stock!</div>
                        {% else %}
                        <a class="isDisabled" id="decreaseQty_anchor">
                            <div class="decreaseQty">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 330.002 330.002" style="enable-background:new 0 0 330.002 330.002;"
                                    xml:space="preserve">
                                    <path id="XMLID_227_"
                                        d="M233.25,306.001L127.5,165.005L233.25,24.001c4.971-6.628,3.627-16.03-3-21c-6.627-4.971-16.03-3.626-21,3 L96.75,156.005c-4,5.333-4,12.667,0,18l112.5,149.996c2.947,3.93,7.451,6.001,12.012,6.001c3.131,0,6.29-0.978,8.988-3.001 C236.878,322.03,238.221,312.628,233.25,306.001z"
                                        stroke="#6b778d" stroke-width="20" />
                                </svg>
                            </div>
                        </a>
                        <div class="quantity--quantity">1</div>
                        <a>
                            <div class="increaseQty" id="increaseQty_anchor">
                                <svg version="1.1" id="arrow-right" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 330.002 330.002" style="enable-background:new 0 0 330.002 330.002;"
                                    xml:space="preserve">
                                    <path id="XMLID_226_"
                                        d="M233.252,155.997L120.752,6.001c-4.972-6.628-14.372-7.97-21-3c-6.628,4.971-7.971,14.373-3,21 l105.75,140.997L96.752,306.001c-4.971,6.627-3.627,16.03,3,21c2.698,2.024,5.856,3.001,8.988,3.001 c4.561,0,9.065-2.072,12.012-6.001l112.5-150.004C237.252,168.664,237.252,161.33,233.252,155.997z"
                                        stroke="#6b778d" stroke-width="20" /></svg>
                            </div>
                        </a>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="addItem__basketWishlist">
                    {% if product.inventory == 0 %}
                    <div class="addItem__addtoBasket">
                        <button type="button" id="add-button" value="{{product.id}}" disabled>Add to basket
                        </button>
                    </div>
                    {% else %}
                    <div class="addItem__addtoBasket">
                        <button type="button" id="add-button" value="{{product.id}}">
                            Add to basket
                        </button>
                    </div>
                    {% endif %}
                    <div class="addItem__addtoWishlist">
                        <button type="button" id="add-button-wishlist" value="{{product.id}}">
                            Add to Wish List
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br>
<div class="review">
    {% if review_form %}
    <hr>
    <h4>Hi <b>{{user.get_username}}</b>, please rate the product and leave a review:</h4>
    <form id="review-form" action="#" method="POST">
        <div class="rating">
            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
        </div>
        <div class="form-outline">
            {{ review_form.review_text }}
        </div>
        <div class="d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-success" id="review-submit">
                Submit
            </button>
        </div>
    </form>
    {% endif %}
    <div>
        <hr>
        <h3>Reviews</h3>
    </div>
    {% if not review_all %}
    <div class="review-empty">
        There is no review for this product.
    </div>
    {% endif %}
    {% for review in review_all %}
    <div class="reviews">
        <div id="user-profile-img">
            <div class="profile-img">
                <img src="{{review.reviewer.profile_img.url}}" width="30" class="user-img rounded-circle mr-2">
            </div>
            <div class="profile-name">
                <span>{{review.reviewer.user_name}}</span>
            </div>
            <div class="post-time">
                <small class="">{{review.post_time}}</small>
            </div>
        </div>
        <div class="small-ratings">
            {% for i in review.rating|times  %}
            <p class="fa fa-star rating-color">&#11088</p>
            {% endfor %}
        </div>
        <div class="user d-flex flex-row">
            <span>
                <small class="text-primary">{{review.review_text}}</small>
            </span>
        </div>
    </div>
</div>
{% endfor %}



<script>
    $(document).on('click', '.decreaseQty', function(e){
        var current_quantity = $('.quantity--quantity').text();
        current_quantity = parseInt(current_quantity);

        if ( current_quantity - 1 <= 1) {
            $('.quantity--quantity').html(current_quantity - 1);
            $('#decreaseQty_anchor').addClass("isDisabled");
        } else {
            $('.quantity--quantity').html(current_quantity - 1);
            $('#increaseQty_anchor').removeClass("isDisabled");
        };
        
    })
    
    $(document).on('click', '.increaseQty', function(e){
        var current_quantity = $('.quantity--quantity').text();
        var product_inventory = "{{product.inventory}}";
        current_quantity = parseInt(current_quantity);
        product_inventory = parseInt(product_inventory);
        $('.quantity--quantity').html(current_quantity + 1)  

        if ( current_quantity + 1 >= product_inventory) {
            $('.quantity--quantity').html(current_quantity + 1);
            $('#increaseQty_anchor').addClass("isDisabled");
        } else if (current_quantity + 1 >= 2) {
            $('.quantity--quantity').html(current_quantity + 1);
            $('#decreaseQty_anchor').removeClass("isDisabled");
        };
        
    })

    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        var current_quantity = parseInt($('.quantity--quantity').text());
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: current_quantity,
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'add-product-to-basket'
            },
            success: function (json) {
                document.getElementById('basket-qty').innerHTML = json.qty;
            },
            error: function (xhr, errmsg, err) {

            }
        }); 

    })

    $(document).on('click', '#add-button-wishlist', function (e) {
        e.preventDefault();
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            type: 'PUT',
            url: '{% url "wishlist:user_wishlist" %}',
            data: {
                productid: $('#add-button-wishlist').val(),
                action: 'add-to-user-wishlist'
            },
            success: function (json) {

            },
            error: function (xhr, errmsg, err) {

            }
        });

    })
    
    $(".rating input").on('click', function (e) {
        window.value = $(this).val();
        window.productid = "{{product.id}}"
        window.isClicked = true;
    });

    $("#review-submit").on('click', function (e) {
        let value = window.value
        let productid = window.productid
        if (isClicked) {
            $.ajax({
                type: 'POST',
                url: '{% url "review:review"%}',
                data: {
                    productid: productid,
                    rating: value,
                    review_text: $('#review-text').val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },
                success: function (json) {
                    console.log($('#review-text').val(), )
                    location.reload()
                },
                error: function (xhr, errmsg, err) {

                }

            });
        }
    });
</script>
{% endblock content %}