{% extends "base.html" %}
{% load static %}
{% load product_filter %}
{% load author_filter %}

{% block stylesheet1 %}
{% static 'store/css/store.css' %}
{% endblock stylesheet1 %}

{% block stylesheet2 %}
{% static 'store/css/single.css' %}
{% endblock stylesheet2 %}

{% block stylesheet3 %}
{% static 'review/css/review.css' %}
{% endblock stylesheet3 %}


{% block title %}
{% if product %}{{ product.title }}{% else %}Products{% endif %}
{% endblock %}


{% block content %}
<div class="indexTitle__bean">
    <div class="indexTitle__bean__home">
        <a href="{% url 'store:store_home' %}"> Home </a>
    </div>
    <div class="indexTitle__bean__category">
        <a href="{% url 'store:category_list' category_slug=product.category.slug %}"> {{ product.category.name }}
        </a>
    </div>
    <div class="indexTitle__bean__product">
        {{ product.title }}
    </div>
</div>
<div class="single">
    <div class="productSingle">
        <div class="productSingle__info">
            <div class="productSingle__img">
                <div class="productSingle__img--image">
                    <a href="{{product.get_absolute_url}}">
                        <img alt="Responsive image" src="{{ product.image.image.url }}">
                    </a>
                </div>
                <div class="productSingle__img--background">
                </div>
            </div>
            <div class="productSingle__content">
                <div class="productSingle__Title">
                    {{ product.title }}
                </div>
                <div class="productSingle__Author">
                    By
                    {% for author in product.author.all|authorsin3 %}
                    {{ author }}
                    {% endfor %}
                </div>
                <div class="productSingle__Description">
                    Description
                </div>
                <div class="productSingle__Description__content">
                    {{ product.description }}
                </div>
            </div>
            <div class="productSingle__addItem">
                <div class="addItem__priceQuantity">
                    <div class="addItem__price">
                        <div class="addItem__price--price">
                            $ {{ product.price }}
                        </div>
                        <div class="beforeTax">
                            (before tax)
                        </div>
                    </div class="addItem__Quantity--select">
                    <div class="quantity">
                        {% with qty=product.inventory %}
                        {% if qty == 0 %}
                        <div>Out of stock!</div>
                        {% else %}
                        <a class="isDisabled" id="decreaseQty_anchor">
                            <div class="decreaseQty">
                                <svg version="1.1" id="arrow-left" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330"
                                    style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                    <path id="XMLID_26_"
                                        d="M315,0H15C6.716,0,0,6.716,0,15v300c0,8.284,6.716,15,15,15h300c8.284,0,15-6.716,15-15V15
                               C330,6.716,323.284,0,315,0z M255,180H75c-8.284,0-15-6.716-15-15s6.716-15,15-15h180c8.284,0,15,6.716,15,15S263.284,180,255,180z" />
                                </svg>
                            </div>
                        </a>
                        <div class="quantity--quantity">1</div>
                        <a>
                            <div class="increaseQty" id="increaseQty_anchor">
                                <svg version="1.1" id="arrow-right" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330"
                                    style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                    <path id="XMLID_23_"
                                        d="M315,0H15C6.716,0,0,6.716,0,15v300c0,8.284,6.716,15,15,15h300c8.284,0,15-6.716,15-15V15
                               C330,6.716,323.284,0,315,0z M255,180h-75v75c0,8.284-6.716,15-15,15s-15-6.716-15-15v-75H75c-8.284,0-15-6.716-15-15
                               s6.716-15,15-15h75V75c0-8.284,6.716-15,15-15s15,6.716,15,15v75h75c8.284,0,15,6.716,15,15S263.284,180,255,180z" />
                                </svg>

                            </div>
                        </a>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="addItem__basketWishlist">
                    {% if product.inventory == 0 %}
                    <div class="addItem__addtoBasket">
                        <button type="button" id="add-button" value="{{product.id}}" disabled>Add to basket
                        </button>
                    </div>
                    {% else %}
                    <div class="addItem__addtoBasket">
                        <button type="button" id="add-button" value="{{product.id}}">
                            Add to basket
                        </button>
                    </div>
                    {% endif %}
                    <div class="addItem__addtoWishlist">
                        <button type="button" id="add-button-wishlist" value="{{product.id}}">
                            Add to Wish List
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="review">
    {% if review_form %}
    <div class="review_form">
        <div class="reviewForm__title">Hi <span class="username">{{user.get_username}}</span>, leave a review:</div>
        <form id="review-form" action="#" method="POST">
            {% csrf_token %}
            <div class="rating">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="form-outline">
                {{ review_form.review_text }}
            </div>
            <div class="reviewSubmit">
                <button class="" id="review-submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
    {% endif %}
    <br>
    <hr>
    <br>
    <div class="review__title">
        Reviews
    </div>
    {% if not review_all %}
    <div class="review-empty">
        There is no review currently.
    </div>
    {% endif %}
    {% for review in review_all %}
    <div class="review_all">
        <div class="reviewer">
            <div class="reviewer__image">
                <img src="{{review.reviewer.profile_img.url}}">
            </div>
            <div class="reviewer__right">
                <div class="reviewer__username">
                    {{review.reviewer.user_name}}
                </div>
                <div class="reviewer__ratingtime">
                    <div class="reviewer__rating">
                        <div class="productAll__info__rating__stars">
                            <div class="productAll__info__rating__stars__container"
                                style="width:{{ review.rating|inttopercent }}%;">
                                <div class="productAll__info__rating__stars--fill">
                                    <div class="starYellow"><img src="{% static 'core/images/star_yellow.png' %}"
                                            alt="">
                                    </div>
                                    <div class="starYellow"><img src="{% static 'core/images/star_yellow.png' %}"
                                            alt="">
                                    </div>
                                    <div class="starYellow"><img src="{% static 'core/images/star_yellow.png' %}"
                                            alt="">
                                    </div>
                                    <div class="starYellow"><img src="{% static 'core/images/star_yellow.png' %}"
                                            alt="">
                                    </div>
                                    <div class="starYellow"><img src="{% static 'core/images/star_yellow.png' %}"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="productAll__info__rating__stars--empty">
                                <div class="starEmpty"><img src="{% static 'core/images/star_empty.png' %}" alt="">
                                </div>
                                <div class="starEmpty"><img src="{% static 'core/images/star_empty.png' %}" alt="">
                                </div>
                                <div class="starEmpty"><img src="{% static 'core/images/star_empty.png' %}" alt="">
                                </div>
                                <div class="starEmpty"><img src="{% static 'core/images/star_empty.png' %}" alt="">
                                </div>
                                <div class="starEmpty"><img src="{% static 'core/images/star_empty.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewer__posttime">
                        {{review.post_time|daymonthyears}}
                    </div>
                </div>
            </div>

        </div>
        <div class="review_text">
            {{review.review_text}}
        </div>
    </div>
    {% endfor %}
</div>



<script>
    $(document).on('click', '.decreaseQty', function (e) {
        var current_quantity = $('.quantity--quantity').text();
        current_quantity = parseInt(current_quantity);

        if (current_quantity - 1 <= 1) {
            $('.quantity--quantity').html(current_quantity - 1);
            $('#decreaseQty_anchor').addClass("isDisabled");
            $('#increaseQty_anchor').removeClass("isDisabled");
            
        } else {
            $('.quantity--quantity').html(current_quantity - 1);
            $('#increaseQty_anchor').removeClass("isDisabled");
        };

    })

    $(document).on('click', '.increaseQty', function (e) {
        var current_quantity = $('.quantity--quantity').text();
        var product_inventory = "{{product.inventory}}";
        current_quantity = parseInt(current_quantity);
        product_inventory = parseInt(product_inventory);
        
         $('.quantity--quantity').html(current_quantity + 1)

        if (current_quantity + 1 >= product_inventory) {
            $('.quantity--quantity').html(current_quantity + 1);
            $('#increaseQty_anchor').addClass("isDisabled");
            $('#decreaseQty_anchor').removeClass("isDisabled");

        } else if (current_quantity + 1 >= 2) {
            $('.quantity--quantity').html(current_quantity + 1);
            $('#decreaseQty_anchor').removeClass("isDisabled");
        };

    })

    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        var current_quantity = parseInt($('.quantity--quantity').text());
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: current_quantity,
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'add-product-to-basket'
            },
            success: function (json) {
                document.getElementById('basket-qty').innerHTML = json.qty;
            },
            error: function (xhr, errmsg, err) {

            }
        });

    })

    $(document).on('click', '#add-button-wishlist', function (e) {
        e.preventDefault();
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            type: 'PUT',
            url: '{% url "wishlist:user_wishlist" %}',
            data: {
                productid: $('#add-button-wishlist').val(),
                action: 'add-to-user-wishlist'
            },
            success: function (json) {

            },
            error: function (xhr, errmsg, err) {

            }
        });

    })

    $(".rating input").on('click', function (e) {
        window.value = $(this).val();
        window.productid = "{{product.id}}"
        window.isClicked = true;
    });

    $("#review-submit").on('click', function (e) {
        let value = window.value
        let productid = window.productid
        if (isClicked) {
            $.ajax({
                type: 'POST',
                url: '{% url "review:post_review"%}',
                data: {
                    productid: productid,
                    rating: value,
                    review_text: $('#review-text').val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function (json) {
                    console.log($('#review-text').val(), )
                    location.reload()
                },
                error: function (xhr, errmsg, err) {

                }

            });
        }
    });
</script>
{% endblock content %}
