{% extends 'base.html' %}
{% load static %}
{% load product_filter %}

{% block title %}
Basket summary
{% endblock title %}

{% block stylesheet %}
{% static 'basket/css/basket.css' %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="col-12">
        <h1 class="h2">Your Basket</h1>
    </div>
    <div class="col-12">
        <p>Manage your <b>items</b> in your basket</p>
    </div>
    <hr />
</div>
<div class="container">
    <div class="row g-3">
        {% if basket|length == 0 %}
        <div class="col-12">Your basket is empty
            <a href="{% url 'store:store_home' %}">
                Shop
            </a>
        </div>
        {% else %}
        <div class="">
            {% for item in basket %}
            {% with product=item.product %}
            <div class="card mb-3 border-0 product-item grid-column" data-index="{{product.id}}">
                <div class="row g-0">
                    <div class="col-md-2 d-none d-md-block">
                        <img class="img-fluid mx-auto d-block" alt="Responsive image"
                            src="{{ product.image.image.url }}" />
                    </div>
                    <div class="col-md-10 ps-md-3 grid-row">
                        <div class="" style="margin-left: 2.5rem;">
                            <a class="text-decoration-none text-reset" href="{{item.product.get_absolute_url}}">
                                <p id="override">{{product.title}}</p>
                            </a>
                        </div>
                        <div style="margin-left: 2.5rem;">
                            {% with pid=product.id %}
                            {% if product.inventory == 0 %}
                            <label for="select">Out of Stock!</label>

                            {% elif product.inventory > 5 %}

                            <label for="select">Qty</label>
                            <select id="select{{product.id}}" style="width:50px;height:31px;">
                                {% for value in basket_range_dict|getbykey:pid %}
                                <option value="" selected disabled hidden>{{item.qty}}</option>
                                <option value="{{value}}">{{value}}</option>
                                {% endfor %}
                            </select>

                            {% else %}

                            <label for="select">Qty</label>
                            <select id="select{{product.id}}" style="width:50px;height:31px;">
                                {% for value in basket_range_dict|getbykey:pid %}
                                <option value="" selected disabled hidden>{{item.qty}}</option>
                                <option value="{{value}}">{{value}}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                            {% endwith %}
                            {% if product.inventory == 0 %}
                            <a type="button" id="update-button" data-index="{{product.id}}"
                                class="isDisabled text-decoration-none small ps-3">Update</a>
                            {% else %}
                            <a type="button" id="update-button" data-index="{{product.id}}"
                                class="update-button text-decoration-none small ps-3">Update</a>
                            {% endif %}

                            <a type="button" id="delete-button" data-index="{{product.id}}"
                                class="delete-button text-decoration-none small">Delete</a>
                        </div>
                        <p class="" style="margin-left: 8.5rem; margin-top: 1rem">
                             SubTotal:
                        </p>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="text-decoration-none text-reset">
                    </div>
                    <div style="margin-left: 2.5rem;">
                    </div>
                    <p style="margin-top: 1rem" >
                        <span class="fw-bold">£</span>
                        <span class="product-total" data-index="{{ product.id }}"> {{ item.total_price }} </span>
                    </p>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
        <div class="col-12 bg-light p-3 grid-column">
            <div style="margin-left: auto; width: 6em">
                <div class="pt-2">
                    Subtotal(before-tax):
                </div>
                <div class="pt-2">
                    Total to pay:
                </div>
            </div>
            <div style="margin-right: auto;">
                <div id="subtotal" class="pt-2 fw-bold h5">
                    <span class="fw-bold h5">£</span>
                    <span id="subtotal-price"> {{basket.get_subtotal_price_before_tax}} </span>
                </div>
                <div id="total-to-pay" class="pt-2 fw-bold h5">
                    <span class="fw-bold h5">£</span>
                    <span id="total-to-pay-price"> {{basket.get_subtotal_price_after_tax}} </span>
                </div>
            </div>
            <div class="" style="margin-right: auto;margin-left: auto;">
                <div style="margin-right: auto;margin-left: auto;">
                    <a role="button" href="{% url 'checkout:deliverychoices' %}" class="btn btn-success fw-bold"
                        type="button">
                        Checkout Securely
                    </a>
                </div>
                <div style="text-align:center">
                    <a role="button" href="{% url 'checkout:deliverychoices' %}" class="btn btn-light fw-bold"
                        type="button">
                        Save for later
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<script>
    $(document).on('click', '.delete-button', function (e) {
        e.preventDefault();
        var prodid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_delete" %}',
            data: {
                productid: $(this).data('index'),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function (json) {
                $('.product-item[data-index="' + prodid + '"]').remove()
                $('#basket-qty').html(json.qty)
                $('#subtotal-price').html(json.basket_total_before_tax)
                $('#total-to-pay-price').html(json.basket_total_after_tax)
            },
            error: function (xhr, errmsg, err) {

            }
        });

    })

    $(document).on('click', '.update-button', function (e) {
        e.preventDefault();
        var prodid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_update" %}',
            data: {
                productid: $(this).data('index'),
                productqty: $('#select' + prodid + ' option:selected').text(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function (json) {
                $('.product-total[data-index="' + prodid + '"]').html(json.product_total)
                $('#basket-qty').html(json.qty)
                $('#subtotal-price').html(json.basket_total_before_tax)
                $('#total-to-pay-price').html(json.basket_total_after_tax)
            },
            error: function (xhr, errmsg, err) {

            }
        });

    })
</script>
{% endblock content %}