{% extends 'base.html' %}
{% load static %}
{% load product_filter %}

{% block title %}
Basket summary
{% endblock title %}

{% block stylesheet1 %}
{% static 'basket/css/basket.css' %}
{% endblock %}

{% block content %}

<div class="basket-title">
    <div class="col-12">
        <h1 class="h2">Your Basket</h1>
    </div>
    <div class="col-12">
        <p>Manage your <b>items</b> in your basket</p>
    </div>
    <hr />
</div>
<div class="basket">
    {% if basket|length == 0 %}
    <div class="">Your basket is empty
        <a href="{% url 'store:store_home' %}">
            Shop
        </a>
    </div>
    {% else %}
    <div class="basket-item-inf" data-index="{{product.id}}">
        {% for item in basket %}
        {% with product=item.product %}
        <div class="basket-item">
            <div class="basket-item-img">
                <img class="" alt="Responsive image" src="{{ product.image.image.url }}" />
            </div>
            <div class="basket-item-title-button">
                <div class="basket-item-title">
                    <a class="text-decoration-none" href="{{item.product.get_absolute_url}}">
                        {{  product.title }}
                    </a>
                </div>
                <div class="basket-item-button">
                    {% with pid=product.id %}
                    {% if product.inventory == 0 %}
                    <div class="out-of-Stock!">
                        <label for="select">Out of Stock!</label>
                    </div>

                    {% elif product.inventory > 5 %}
                    <div>
                        <label for="select">Qty</label>
                        <select id="select{{product.id}}">
                            {% for value in basket_range_dict|getbykey:pid %}
                            <option value="" selected disabled hidden>{{item.qty}}</option>
                            <option value="{{value}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {% else %}
                    <div>
                        <label for="select">Qty</label>
                        <select id="select{{product.id}}">
                            {% for value in basket_range_dict|getbykey:pid %}
                            <option value="" selected disabled hidden>{{item.qty}}</option>
                            <option value="{{value}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    {% endwith %}
                    {% if product.inventory == 0 %}
                    <div>
                        <a id="update-button" data-index="{{product.id}}"
                            class="isDisabled text-decoration-none small">
                            <button>Update</button>
                        </a>
                    </div>
                    {% else %}
                    <div>
                        <a id="update-button" data-index="{{product.id}}"
                            class="update-button text-decoration-none small">
                            <button>Update</button>
                        </a>
                    </div>
                    {% endif %}
                    <div>
                        <a id="delete-button" data-index="{{product.id}}"
                            class="delete-button text-decoration-none small">
                            <button>Delete</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="basket-item-subtotal">
                <div>
                    SubTotal:
                </div>
                <div class="basket-item-subtotal-price">
                    <div>$</div>
                    <div class="basket-item-subtotal-price-value" data-index="{{ product.id }}">{{ item.total_price }}</div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
    <div class="checkout">
        <div>
        </div>
        <div class="checkout-title">
            <div class="">
                Subtotal(before-tax):
            </div>
            <div class="">
                Total to pay:
            </div>
        </div>
        <div class="checkout-tax">
            <div class="">
                <span class="">$</span>
                <span id="subtotal-price"> {{basket.get_subtotal_price_before_tax}} </span>
            </div>
            <div class="">
                <span class="">$</span>
                <span id="total-to-pay-price"> {{basket.get_subtotal_price_after_tax}} </span>
            </div>
        </div>

    </div>
    <div class="checkout-button">
        <div>
        </div>
        <div>
        </div>
        <div class="checkout-button-button">
            <a role="button" href="{% url 'checkout:delivery_options' %}" class="btn btn-success fw-bold" type="button">
                Checkout Securely
            </a>
        </div>
    </div>
    {% endif %}
</div>




<script>
    $(document).on('click', '.delete-button', function (e) {
        e.preventDefault();
        var prodid = $(this).data('index');
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            type: 'DELETE',
            url: '{% url "basket:basket" %}',
            data: {
                productid: $(this).data('index'),
                action: 'delete-prodcut-basket'
            },
            success: function (json) {

                $('.basket-item-inf[data-index="' + prodid + '"]').remove()
                $('#basket-qty').html(json.qty)
                $('#subtotal-price').html(json.basket_total_before_tax)
                $('#total-to-pay-price').html(json.basket_total_after_tax)
                if ($(".product-total[data-index]").length == 0) {
                    $('.subtotal-section').remove();
                    location.reload();
                }
            },
            error: function (xhr, errmsg, err) {

            }
        });

    })

    $(document).on('click', '.update-button', function (e) {
        e.preventDefault();
        var prodid = $(this).data('index');
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}',
            },
            type: 'PATCH',
            url: '{% url "basket:basket" %}',
            data: {
                productid: $(this).data('index'),
                productqty: $('#select' + prodid + ' option:selected').text(),
                action: 'update-basket-product-quantity'
            },
            success: function (json) {
                $('.basket-item-subtotal-price-value[data-index="' + prodid + '"]').html(json.product_total)
                $('#basket-qty').html(json.qty)
                $('#subtotal-price').html(json.basket_total_before_tax)
                $('#total-to-pay-price').html(json.basket_total_after_tax)
            },
            error: function (xhr, errmsg, err) {

            }
        });

    })
</script>
{% endblock content %}