{% extends 'account/sub_base.html' %}
{% load static %}
{% block stylesheet1 %}
{% static 'store/css/store.css' %}
{% endblock stylesheet1 %}

{% block stylesheet2 %}
{% static 'review/css/review.css' %}
{% endblock stylesheet2 %}

{% block sub_content %}
<div class="col-12">
    <h1 class="h2">Order Issue</h1>
</div>
<hr />
<h4>Order Information</h4>
<hr />
<div class="container-fluid">
    <div class="row g-3 bg-light">
        <div class="col-12 bg-light p-3">
            <div class="pe-3" style="display:flex; flex-direction:row;">
                <div style="flex-basis:40.00%">
                    <span><b>Checkout Time: </b></span>
                    <span>{{ order.created }}</span>
                </div>
                <div style="flex-basis:30%">
                    <span><b>Total Paid: </b></span>
                    <span> $ {{ order.total_paid }} </span>
                </div>
                <div style="flex-basis:30%">
                    <span> <b>Name: </b> </span>
                    <span> {{order.full_name}} </span>
                </div>
            </div>
            <div>
                <b>Dispatch to: </b>
                <span>{{order.address1}} {{order.address2}},</span>
                <span>{{order.city}}, {{order.postcode}}</span>
                <span>{{order.country_code}}</span>
            </div>
        </div>
    </div>
</div>
<br>
<h4>Products </h4>
<hr>
<div class="row g-3 bg-light">
    {% for item in order.items.all %}
    <div class="card mb-3 border-0 bg-light">
        <div class="" style="display:flex; align-items: center;">
            <div class="col-md-2 d-none d-md-block">
                <img class="img-fluid" style="width:90px" src="{{item.product.image.image.url}}" />
            </div>
            <div class="">
                {{item.product|title}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<div>
    <h4>Report form</h4>
    <hr />
    <form id="review-form" action="#" method="POST">
        {% csrf_token %}
        {{ order_issue_form.orderid.label}}
        {{ order_issue_form.orderid}}
        {{ order_issue_form.email.label}}
        {{ order_issue_form.email}}
        {{ order_issue_form.content.label}}
        {{ order_issue_form.content}}
        <button type="submit" formaction="{% url 'orders:order_issue' order_key=order.order_key %}" role="button"
            class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">
            Submit
        </button>
    </form>
</div>
{% endblock sub_content %}