{% extends 'sub_base.html' %}
{% load static %}
{% load product_filter %}
{% load orderissue_filter %}

{% block title %}
Order List
{% endblock title %}

{% block stylesheet1 %}
{% static 'orders/css/orders.css' %}
{% endblock %}

{% block sub_base_title %}
<div class="orders__bean">
    <div class="orders__bean__home">
        <a href="{% url 'store:store_home' %}"> Home </a>
    </div>
    <div class="orders__bean__orders">
        Orders
    </div>
</div>
{% endblock %}

{% block sub_base_content %}
{% if not orders %}
<div class="orders--empty">You have not place any order. 
    <a href="{% url 'store:store_home' %}">
        Home
    </a>
</div>
{% endif %}
<div class="orders">
    {% for order in orders %}
    <div class="order__infomation">
        <div class="order__infomation__title">
            <div>
                {{ order.created }}
            </div>
            <div>
                {{ order.order_key }}
            </div>
            <div class="order__infomation__content__report">
                {% if order|orderissueexist %}
                <a class="isDisabled" style="pointer-events: none;"
                    href="{% url 'orders:order_issue' order_key=order.order_key%}">
                    <button class="report__button" id="order-issue-report" type="button" style="pointer-events: none;"
                        data-order="{{order.id}}">Mail sent</button>
                </a>
                {% else %}
                <a  href="{% url 'orders:order_issue' order_key=order.order_key%}">
                    <button class="report__button" id="order-issue-report" type="button"
                        data-order="{{order.id}}">Problem with
                        order</button>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="order__infomation__content">
            <div>
                <div>
                    Payment Method:
                </div>
                <div>
                    {{ order.payment_option.name }}
                </div>
            </div>
            <div>
                <div>
                    Shipped to:
                </div>
                <div>
                    {{order.address.address_line2}} {{order.address.address_line}} {{order.address.postcode}}
                    {{order.address.town_city}}, {{order.address.country}}.
                    {{order.address.full_name}}, {{order.address.phone}}
                </div>
            </div>
            <div>
                <div>
                   Delivery cost:
                </div>
                <div>
                    $ {{ order.delivery_option.delivery_price }}
                </div>
            </div>
            <div>
                <div>
                    Total paid:
                </div>
                <div>
                    $ {{ order.total_paid }}
                </div>
            </div>
        </div>
    </div>
    <div class="order__items">
        <div class="order__items__title">
            <div>
                Product
            </div>
            <div>
                Subtotal
            </div>
        </div>
        {% for item in order.items.all %}
        <div class="order__items__summary">
            <div class="order__items__summary__img">
                <img src="{{item.product.image.image.url}}" />
            </div>
            <div class="order__items__summary__title">
                <a href="{{ item.product.get_absolute_url }}">
                    {{item.product|title}}
                </a>
            </div>
            <div class="order__items__summary__subtotal">
                $ {% multiply item.product.price item.quantity %}
            </div>
            <div class="order__items__summary__reviewbutton">
                <a href="{{item.product.get_absolute_url}}">
                    <button>Leave a review</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>



{% endblock %}