{% extends 'sub_base.html' %}
{% load static %}
{% load product_filter %}
{% load orderissue_filter %}

{% block title %}
Order Issue
{% endblock title %}

{% block stylesheet1 %}
{% static 'orders/css/orders.css' %}
{% endblock %}

{% block sub_base_title %}
<div class="orders__bean">
    <div class="orders__bean__home">
        <a href="{% url 'store:store_home' %}"> Home </a>
    </div>
    <div class="orders__bean__orders">
        Order Issue
    </div>
</div>
{% endblock %}

{% block sub_base_content %}
<div class="orders">
    <div class="order__infomation">
        <div class="order__infomation__title">
            <div>
                {{ order.created }}
            </div>
            <div>
                {{ order.order_key }}
            </div>
        </div>
        <div class="order__infomation__content">
            <div>
                <div>
                    Payment Method:
                </div>
                <div>
                    {{ order.payment_option.name }}
                </div>
            </div>
            <div>
                <div>
                    Shipped to:
                </div>
                <div>
                    {{order.address.address_line2}} {{order.address.address_line}} {{order.address.postcode}}
                    {{order.address.town_city}}, {{order.address.country}}.
                    {{order.address.full_name}}, {{order.address.phone}}
                </div>
            </div>
            <div>
                <div>
                    Delivery cost:
                </div>
                <div>
                    $ {{ order.delivery_option.delivery_price }}
                </div>
            </div>
            <div>
                <div>
                    Total paid:
                </div>
                <div>
                    $ {{ order.total_paid }}
                </div>
            </div>
        </div>
    </div>
    <div class="order__issue__form">
        <div class="order__issue__form__title">Report form</div>
        <form id="order__issue__form__form" action="#" method="POST">
            {% csrf_token %}
            <div>
                <div class="order__issue__form__label">
                    {{ order_issue_form.orderid.label}}
                </div>
                <div class="order__issue__form__input" disabled>
                    {{ order_issue_form.orderid}}
                </div>
            </div>
            <div>
                <div class="order__issue__form__label">
                    {{ order_issue_form.email.label}}
                </div>
                <div class="order__issue__form__input" disabled>
                    {{ order_issue_form.email}}
                </div>
            </div>
            <div>
                <div class="order__issue__form__label">
                    {{ order_issue_form.content.label}}
                </div>
                <div>
                    {{ order_issue_form.content}}
                </div>
            </div>
            <div>
                <button type="submit" formaction="{% url 'orders:order_issue' order_key=order.order_key %}"
                    role="button">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock sub_base_content %}