{% extends 'sub_base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block stylesheet1 %}
{% static 'account/css/profile.css' %}
{% endblock %}

{% block sub_base_title %}
<div class="profile__bean">
    <div class="profile__bean__home">
        <a href="{% url 'store:store_home' %}"> Home </a>
    </div>
    <div class="profile__bean__orders">
        Profile
    </div>
</div>
{% endblock %}

{% block sub_base_content %}
{% if user.is_authenticated %}
<div class="profile">
    <div class="profile__img">
        <img src={{ profile.profile_img.url}}>
    </div>
    <div class="profile__profile">
        <div class="profile__profile__content">
            <div class="profile__profile__content__title">
                First Name:
            </div>
            <div class="profile__profile__content__content">
                {{profile.first_name}}
            </div>
        </div>
        <div class="profile__profile__content">
            <div class="profile__profile__content__title">
                Last Name:
            </div>
            <div class="profile__profile__content__content">
                {{profile.last_name}}
            </div>
        </div>
        <div class="profile__profile__content">
            <div class="profile__profile__content__title">
                Email:
            </div>
            <div class="profile__profile__content__content">
                {{profile.email}}
            </div>
        </div>
        <div class="profile__profile__content">
            <div class="profile__profile__content__title">
                Phone:
            </div>
            <div class="profile__profile__content__content">
                {{address.phone}}
            </div>
        </div>

        <div class="profile__profile__content">
            <div class="profile__profile__content__title">
                Country:
            </div>
            <div class="profile__profile__content__content">
                {{address.country.name}}
            </div>
        </div>
        <div class="profile__profile__content">
            <div class="profile__profile__content__title">
                Town & City:
            </div>
            <div class="profile__profile__content__content">
                {{address.town_city}}
            </div>
        </div>
        <div class="profile__profile__content">
            <div class="profile__profile__content__title">
                Post code:
            </div>
            <div class="profile__profile__content__content">
                {{address.postcode}}
            </div>
        </div>
        <div class="profile__profile__content">
            <div class="profile__profile__content__title">
                Address Line 1:
            </div>
            <div class="profile__profile__content__content">
                {{address.address_line}}
            </div>
        </div>
        <div class="profile__profile__content">
            <div class="profile__profile__content__title">
                Address Line 2:
            </div>
            <div class="profile__profile__content__content">
                {{address.address_line2}}
            </div>
        </div>
        <div class="profile__profile__about">
            <div class="profile__profile__about--title">
                About:
            </div>
            <div class="profile__profile__about--content">
                {{profile.about}}
            </div>
        </div>
    </div>
</div>
<div class="editButton">
    <a href="{% url 'account:edit_details'%}">
        <button type="submit">Edit</button>
    </a>
</div>



{% else %}
<script>
    window.location.href = '{% url "account:login" %}';
</script>
{% endif %}

{% endblock sub_base_content %}