{% extends 'sub_base.html' %}
{% load static %}

{% block title %}
Edit Profile
{% endblock title %}

{% block stylesheet1 %}
{% static 'account/css/profile.css' %}
{% endblock %}

{% block sub_base_title %}
<div class="profile__bean">
    <div class="profile__bean__home">
        <a href="{% url 'store:store_home' %}"> Home </a>
    </div>
    <div class="profile__bean__orders">
        Edit Profile
    </div>
</div>
{% endblock %}

{% block sub_base_content %}
<div class="editProfile">
    <form id="editProfile__form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user_form.errors %}
        <div class="warning">
            <div>Please correct the following errors:</div>
            {% for user_field in user_form %}
            {% if user_field.errors %}
            <div>
                {{ user_field.label }}: {{ user_field.errors|striptags }}
                </div=>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if address_form.errors %}
                <div>Please correct the following errors:</div>
                {% for address_field in  address_form %}
                {% if address_field.errors %}
                <div>
                    {{ address_field.label }}: {{ address_field.errors|striptags }}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="editProfile__content">
            <div class="editProfile__imgAbout">
                <div>
                    <div class="editProfile__label">
                        {{ user_form.profile_img.label}}
                    </div>
                    <div class="editProfile__img--image">
                        {{ user_form.profile_img }}
                    </div>
                </div>
                <div>
                    <div class="editProfile__label">{{ user_form.about.label}}</div>
                    <div>
                        {{ user_form.about }}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="editProfile__label">{{ user_form.email.label}}</div>
                    <div class="input--grayout">
                        {{ user_form.email }}
                    </div>
                </div>
                <div>
                    <div class="editProfile__label">{{ user_form.user_name.label}}</div>
                    <div class="input--grayout">
                        {{ user_form.user_name }}
                    </div>
                </div>
                <div>
                    <div class="editProfile__label">{{ user_form.first_name.label}}</div>
                    <div>
                        {{ user_form.first_name }}
                    </div>
                </div>
                <div>
                    <div class="editProfile__label">{{ user_form.last_name.label}}</div>
                    <div>
                        {{ user_form.last_name }}
                    </div>
                </div>
                <div>
                    <div class="editProfile__label">{{ address_form.phone.label}}</div>
                    <div>
                        {{ address_form.phone }}
                    </div>
                </div>
                <div class="editProfile__label__country">
                    <div class="editProfile__label">{{ address_form.country.label}}</div>
                    <div>
                        {{ address_form.country }}
                    </div>
                </div>
                <div>
                    <div class="editProfile__label">{{ address_form.town_city.label}}</div>
                    <div>
                        {{ address_form.town_city }}
                    </div>
                </div>
                <div>
                    <div class="editProfile__label">{{ address_form.postcode.label}}</div>
                    <div>
                        {{ address_form.postcode }}
                    </div>
                </div>
                <div>
                    <div class="editProfile__label"> {{ address_form.address_line.label}}</div>
                    <div>
                        {{ address_form.address_line }}
                    </div>
                </div>
                <div>
                    <div class="editProfile__label">{{ address_form.address_line2.label}}</div>
                    <div>
                        {{ address_form.address_line2 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="editProfile__form__button">
            <button type="submit" value="Save changes">Save Changes</button>
        </div>
    </form>
</div>
<div class="deleteAccount">
    <div>Delete Account</div>
    <div>Are you sure you want to delete your account?</div>
    <div>
        <button id="delete-user" type="submit" role="button">Delete</button>
    </div>
</div>


<script>
    $(document).on('click', '#delete-user', function (e) {
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}',
            },
            type: 'PATCH',
            url: '{% url "account:edit_details" %}',
            data: {
                action: 'deletet-user'
            },
            success: function (json) {
                window.location = '{% url "account:delete_confirmation" %}'
            },
            error: function (xhr, errmsg, err) {

            }
        });

    })
</script>

{% endblock %}