{% extends 'sub_base.html' %}
{% load static %}

{% block title %}
Password Reset Confirmation
{% endblock title %}

{% block stylesheet1 %}
{% static 'account/css/account.css' %}
{% endblock %}

{% block sub_base_title %}

<div class="resetPassword__title">New Password</div>

{% endblock %}

{% block sub_base_content %}
<form id="resetPassword__form"method="post">
    {% csrf_token %}
    {% if form.errors %}
    {% for field in form %}
    {% if field.errors %}
    <div class="warning" role="alert">
        {{ field.errors }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="simpleInput">
        <div class="simpleInput__label">
            {{ form.new_password1.label}}
        </div>
        <div class="simpleInput__content">
            {{ form.new_password1 }}
        </div>
    </div>
    <div class="simpleInput">
        <div class="simpleInput__label">
            {{ form.new_password2.label}}
        </div>
        <div class="simpleInput__content">
            {{ form.new_password2 }}
        </div>
    </div>
    {% comment %} <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul> {% endcomment %}
    <div class="resetPassword__Submitbutton">
        <button type="submit" value="Change">Submit</button>
    </div>
</form>

<div class="resetPassword__haveAccount">
    <a href="{% url "account:login" %}">Already have an account?</a>
</div>
{% endblock %}