{% extends 'sub_base.html' %}
{% load static %}

{% block title %}
Reset Password
{% endblock title %}

{% block stylesheet1 %}
{% static 'account/css/account.css' %}
{% endblock %}

{% block sub_base_content %}
<div class="resetPassword__status">
    <div>
        {% if 'email' in request.get_full_path %}
        <div>Password Reset Success</div>
        <div>Check your email for instructions</d>
            {% endif%}
            {% if 'complete' in request.get_full_path %}
            <div>Password Reset Success!</div>
            <a href="{% url "account:login" %}">Login</a>
            {% endif%}
        </div>
    </div>
</div>
{% endblock sub_base_content %}